.bg2 {
  background-image: linear-gradient(
    90.07deg,
    rgba(30, 42, 93, 0.04) 40%,
    rgba(48, 62, 130, 0.04) 40%,
    rgba(60, 80, 157, 0.04) 91.94%
  );
  width: 375px;
  height: 516px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.headingB {
  width: 120px;
  height: 35px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  color: #0e2368;
  align-self: center;
}
.desc {
  width: 275px;
  height: 138px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 21px;
  color: #444957;
  margin-top: 20px;
}
.btn3 {
  width: 96px;
  height: 25px;
  background: #e23744;
  border-radius: 27px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  color: #ffffff;
}
.img2 {
  width: 384px;
  height: 468px;
  display: none;
  margin-left: 10px;
}

/* responsive */

@media screen and (min-width: 600px) {
  .bg2 {
    width: 1210px;
    height: 467px;
    margin-top: 128px;
    justify-content: space-evenly;
  }
  .headingB {
    font-size: 45px;
    line-height: 27px;
    width: 422px;
    height: 26px;
    text-align: start;
  }
  .desc {
    font-size: 15px;
    line-height: 27px;
    width: 447px;
    height: 138px;
    text-align: left;
  }
  .btn3 {
    width: 132px;
    height: 42px;
    font-size: 16px;
    margin-left: 200px;
    line-height: 36px;
    align-self: flex-start;
  }
  .img2 {
    display: block;
  }
 
}
